/* static/styles.css */
.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    color: rgb(61, 97, 182);
}

.links a {
    display: inline-block;
    margin-right: 20px;
    text-decoration:navy;
    color: #2ebec0;
    font-size: 18px;
}

.form label {
    display: block;
    margin-bottom: 2px;
}

.form input[type="text"],
.form input[type="submit"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 2px;
}

.form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}
